#sidebar {
  background-color: #f7f7f7;
  min-width: 400px;
}
nav {
  ul {
    font-size: 2rem;
    list-style: none;
    li {
      padding: 1rem;
      a {
        text-decoration: none;
      }
    }
  }
}

#detail {
  width: 100%;
}
