#sidebar {
  background-color: #ffffff;
}
nav {
  overflow: hidden;
  ul {
    font-size: 2rem;
    list-style: none;
    padding: 0;
    li {
      padding: 1rem;
      a {
        text-decoration: none;
        padding: 0.5rem;
        border-radius: 5px;
      }
      .active {
        background-color: hsl(224, 98%, 58%);
        color: white;
      }
      .pending {
        color: hsl(224, 98%, 58%);
      }
    }
  }
}

#detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 3;
  background-color: #f4f7fe;
}
