#sidebar {
  background-color: #f7f7f7;
}
nav {
  ul {
    font-size: 2rem;
    list-style: none;
    padding: 0;
    li {
      padding: 1rem;
      a {
        text-decoration: none;
      }
    }
  }
}

#detail {
  flex-grow: 3;
}
